<div class="marquee-wrapper">
    <div class="marquee__top">
        <div class="text__title">
            Client <br>
            Testimonials
        </div>
        <div class="describe">
            Discover how our mentorship has helped others achieve their goals.
        </div>
    </div>
    <om-marquee>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "Our business grew by 50% after working with this team. Their insights are invaluable."
            </div>
            <div class="test__name">
                <div class="test__code">AF</div>
                <div class="test__details">
                    <div class="testimony__name">Afolabi Funmilola</div>
                    <div class="test__name">Business Owner</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "As a small business owner, I needed guidance on financial management. House of Profit Nigeria provided me with valuable insights and strategies that have improved my cash flow and overall financial health."
            </div>
            <div class="test__name">
                <div class="test__code">OC</div>
                <div class="test__details">
                    <div class="testimony__name">Okonkwo Chisom</div>
                    <div class="test__name">Entrepreneur</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "House of Profit Nigeria has been a beacon of light for my startup. Their expert guidance and mentorship have helped me navigate the complexities of the business world and achieve remarkable growth."
            </div>
            <div class="test__name">
                <div class="test__code">ZA</div>
                <div class="test__details">
                    <div class="testimony__name">Zainab Abdulkareem</div>
                    <div class="test__name">Fashion Designer</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "I was struggling to scale my business until I partnered with House of Profit Nigeria. Their strategic insights and tailored solutions have transformed my operations and increased my profitability."            </div>
            <div class="test__name">
                <div class="test__code">TD</div>
                <div class="test__details">
                    <div class="testimony__name">Tochukwu Daniel</div>
                    <div class="test__name">Freelancer</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "The team at House of Profit Nigeria is incredibly knowledgeable and supportive. They've helped me develop a clear business plan and identify new market opportunities."
            </div>
            <div class="test__name">
                <div class="test__code">JA</div>
                <div class="test__details">
                    <div class="testimony__name">John Adepoju</div>
                    <div class="test__name">Product Manager</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "Their approach is not just about providing advice; it's about fostering a collaborative partnership. I've learned so much from their industry expertise and practical guidance."
            </div>
            <div class="test__name">
                <div class="test__code">AS</div>
                <div class="test__details">
                    <div class="testimony__name">Adebayo Sadiq</div>
                    <div class="test__name">Teacher</div>
                </div>
            </div>
        </div>
        <!-- <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "House of Profit Nigeria has been instrumental in helping me overcome challenges and achieve my long-term business goals. Their commitment to excellence is truly commendable."
            </div>
            <div class="test__name">
                <div class="test__code">AF</div>
                <div class="test__details">
                    <div class="testimony__name">Juliet James</div>
                    <div class="test__name">Business Owner</div>
                </div>
            </div>
        </div> -->
    </om-marquee>

    <om-marquee [reverse]="true">
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "As a new entrepreneur, I faced countless challenges. House of Profit Nigeria's mentorship and support were instrumental in helping me navigate the complexities of starting and running a business."
            </div>
            <div class="test__name">
                <div class="test__code">MO</div>
                <div class="test__details">
                    <div class="testimony__name">Makinwa Olubukola</div>
                    <div class="test__name">Market Disruptor</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "House of Profit Nigeria has helped me build a strong foundation for my business and position it for future success. I'm confident in their ability to deliver results."
            </div>
            <div class="test__name">
                <div class="test__code">RE</div>
                <div class="test__details">
                    <div class="testimony__name">Rasheeda Elebiyo</div>
                    <div class="test__name">Business Manager</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "Their team is always available to provide support and answer my questions. Their dedication to their clients is truly inspiring."
            </div>
            <div class="test__name">
                <div class="test__code">JJ</div>
                <div class="test__details">
                    <div class="testimony__name">Juliet James</div>
                    <div class="test__name">innovator</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "I've seen a significant improvement in my business performance since working with House of Profit Nigeria. Their expertise and guidance have been essential to my success."
            </div>
            <div class="test__name">
                <div class="test__code">IY</div>
                <div class="test__details">
                    <div class="testimony__name">Isioma Yaqub</div>
                    <div class="test__name">Freelancer</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "House of Profit Nigeria has been instrumental in helping me overcome challenges and achieve my long-term business goals. Their commitment to excellence is truly commendable."
            </div>
            <div class="test__name">
                <div class="test__code">OM</div>
                <div class="test__details">
                    <div class="testimony__name">Oyinkansola Mathew</div>
                    <div class="test__name">Entrepreneur</div>
                </div>
            </div>
        </div>
        <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "I was impressed by House of Profit Nigeria's deep understanding of my industry. Their insights and recommendations were spot-on."
            </div>
            <div class="test__name">
                <div class="test__code">OL</div>
                <div class="test__details">
                    <div class="testimony__name">Okoh Lauretta</div>
                    <div class="test__name">Trader</div>
                </div>
            </div>
        </div>
        <!-- <div class="card" #OmMarqueeContent>
            <div class="test__text">
                "I was initially skeptical, but House of Profit Nigeria's team exceeded my expectations. They provided me with clear, actionable advice that has had a positive impact on my business."
            </div>
            <div class="test__name">
                <div class="test__code">AF</div>
                <div class="test__details">
                    <div class="testimony__name">Juliet James</div>
                    <div class="test__name">Business Owner</div>
                </div>
            </div>
        </div> -->
    </om-marquee>

    <div class="marquee-gradient left">
    </div>
    <div class="marquee-gradient right">
    </div>
</div>