<div class="full__body">
    <div class="hero" id="hero">
        <div class="header">
            <div class="header__wrapper" id="openmenu">
                <div class="header__desktop">
                    <div class="header__left">
                        <img class="logo__image" src="assets/logosvg.svg" alt="houseofprofitng" style="width: 120;" />
                    </div>
                    <div class="header__right" id="c">
                        <div class="header__links">
                            <a href="/home"> Home </a>
                            <a href="#about"> About </a>
                            <li> Mission</li>
                            <a> Services</a>
                            <a> Testimonial </a>
                            <a> Contact Us </a>
                        </div>
                    </div>
                    <div class="right__btn">
                        <a class="register__btn" href="" target="_blank">Contact Expert</a>
                    </div>
                </div>
            </div>
            <div class="header__mobile">
                <div class="header__container">
                    <div class="mobile__left">
                        <img src="assets/logosvg.svg" alt="" id="a" />
                    </div>
                    <div class="mobile__right">
                        <img class="hamburger" onclick="openmenu()" src="assets/hamburger.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__main">
            <div class="hero__left">
                <h1 class="larger__text">
                    Grow your <br> <span>business</span> with <br> expert guidance
                </h1>
                <div class="head__one">
                    Empowering Entrepreneurs and Businesses with Tailored Strategies <br> for Growth, Success, and
                    Sustainability.
                </div>
                <div class="hero__button">
                    <a href="https://selar.co/949r12" target="_blank" class="hero__btn" data-aos="fade-in"
                        data-aos-duration="1500">
                        Buy Course
                    </a>
                    <a href="https://selar.co/register?utm_source=SelarStore&utm_medium=store&utm_campaign=StorePoweredByBranding " target="_blank" class="hero__btnn" data-aos="fade-in"
                        data-aos-duration="1500">
                        Get Our Books
                    </a>
                </div>
            </div>
            <div class="hero__right">
                <!-- <img height="640" width="560" src="assets/Group 1000005653.png" alt="" /> -->
            </div>
        </div>
    </div>
    <!-- About Section -->
    <div class="about"id="about" >

        <div class="about__container">
            <div class="about__left">

            </div>
            <div class="about__right">
                <div class="about__rightContainer">
                    <div class="about__title">About House of Profit Nigeria</div>
                    <div class="about__text">At House of Profit Nigeria, we are a team of experienced business
                        consultants, mentors, and industry experts committed to helping entrepreneurs and businesses
                        achieve sustainable growth and success. Our approach is centered on understanding your unique
                        challenges and opportunities and providing customized, actionable solutions.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- mission -->
    <div class="mission" id="mission">
        <div class="mission__container">
            <div class="mission__left">
                <div class="mission__leftContainer">
                    <div class="top">
                        <div class="top__body">
                            <h3>Our Mission</h3>
                            <p>To empower businesses by offering expert guidance, strategic insights, and mentorship
                                that foster growth, innovation, and lasting success.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="top__body">
                            <h3>Our Impact</h3>
                            <p>We have successfully mentored and consulted businesses from start-ups to established
                                enterprises, helping them overcome challenges, innovate, and scale effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mission__right">

            </div>
        </div>
    </div>
    <!-- Service -->
    <div class="section" id="services">
        <div class="section__container">
            <div class="section__top">
                <h3 class="service__heading">Our services</h3>
                <!-- <p>Service Description</p> -->
            </div>
            <div class="section__bottom">
                <!-- service card -->
                <div class="service__column">
                    <div class="service__card">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconone.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Business Strategy Consulting
                                </div>
                                <div class="section__text">
                                    Crafting winning strategies that drive business growth and profitability.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service__cardTwo">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/icontwo.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Start-up Mentorship
                                </div>
                                <div class="section__text">
                                    Guiding entrepreneurs through the crucial stages of launching and scaling a business.
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="service__cardThree">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconthree.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Financial Planning & Budgeting
                                </div>
                                <div class="section__text">
                                    Optimizing cash flow, reducing expenses, and securing sustainable growth.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service card -->
                <div class="service__column">
                    <div class="service__cardThree">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconfour.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Leadership Coaching & Team Building
                                </div>
                                <div class="section__text">
                                    Developing strong leaders and cohesive teams that drive success.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service__card">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconfive.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Marketing & Brand Development
                                </div>
                                <div class="section__text">
                                    Creating powerful brand identities and strategies that connect with your audience.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service__cardTwo">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconsix.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Operations & Efficiency Improvement
                                </div>
                                <div class="section__text">
                                    Streamlining operations to boost productivity and reduce costs.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service card -->
                <div class="service__column">
                    <div class="service__cardTwo">
                        <div class="card__container">
                            <div class="icon">
                                <img src="assets/iconseven.svg" alt="">
                            </div>
                            <div class="icon__body">
                                <div class="service__title">
                                    Digital Transformation
                                </div>
                                <div class="section__text">
                                    Helping businesses embrace technology to improve processes and customer experiences.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section -->
    <div class="choose__section">
        <div class="choose__container">
            <div class="choose__title">
                Why Choose <br>
                <span>House of Profit Nigeria</span>
            </div>
            <div class="choose__body">
                <div class="choose__boxTop">
                    <div class="choose__card">

                    </div>
                    <div class="choose__cardTwo">

                    </div>
                </div>
                <div class="choose__boxBottom">
                    <div class="choose__cardThree">

                    </div>
                    <div class="choose__cardFour">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Auto scroll -->
     <div id="test">
        <app-testimonial></app-testimonial>
     </div>
    <!-- FAQs -->
    <div class="faqs">
        <!-- SOCIAL PANEL HTML -->
        <button class="floating-btn">
            Get in Touch
        </button>

        <div class="floating-text">
            <a href="https://selar.co/949r12" target="_blank">Buy Career Next Move Blueprint</a>
        </div>
    </div>
    <!--Banner  -->
    <div class="banner">
        <div class="banner__container">
            <div class="banner__text">
                Join the thousands of successful businesses we’ve helped.
            </div>
            <a href="" class="banner__btn">
                Contact Us
            </a>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
        <div class="footer__container"> 
            <div class="footer__right">
                <div class="contact__body">
                 Quick Links
                </div> 
                <div class="social__links">
                    <div class="footer__links">
                        <a href="#hero"> Home </a>
                        <a href="#about"> About </a>
                        <a href="#speaker"> Mission</a>
                        <a href="#breakout"> Services</a>
                        <a href="#schedule"> Testimonial </a>
                        <a href="#channels"> Contact Us </a>
                    </div>
                </div>
             </div>

            <div class="footer__left">
                <div class="contact__body">
                    Contact
                </div>
                <div class="contact__down">
                    <div class="email">
                        Email:  info houseofprofitng.com
                      </div>
                      <div class="email">
                       Phone Number: +234 803 481 3353
                      </div>
                </div>
            </div>
        
            <div class="footer__right">
                <div class="contact__body">
                 Socials
                </div> 
                <div class="social__links">
                 <ul>
                     <li>Instagram</li>
                     <li>Facebook</li>
                     <li>Whatsapp</li>
                 </ul>
                </div>
             </div>
        </div>
    </div>
</div>